/* Жесткий сброс отступов для всех элементов */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Настройка корневых контейнеров */
html, body, #root {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  min-height: 100vh;
  background-color: #09090b; /* Твой фирменный цвет Gelix, теперь баг не проявится */
  color: #ffffff;
  overflow-x: hidden; /* Защита от горизонтального скролла из-за авроры */
}

/* Кастомный премиальный скроллбар (опционально) */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #09090b;
}
::-webkit-scrollbar-thumb {
  background: #222226;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4cc9f0;
}